<div id="articleBody" class="container z-depth-2">
    <h2 class="text-Niconne">About</h2>
    <div class="row" style="margin:auto;">
      <div class="col l6 s6">
          <img src="assets/profile.jpg" alt="" class="circle responsive-img card-image">
      </div>
      <div class="col l6 s6">
        <p>Curtis Allyn Green is a Software Engineer with deep interest in emerging technology.</p><p>He has experience in Full Stack Web Development and a grounding in Computer Science concepts.</p>
      </div> 
    </div>
    <div>
      <p>Hi there, welcome to the blog! I hope you are finding the information presented to be useful in your coding endeavors.  I created this blog to highlight my own struggles with code, not only to showcase the spectrum of my own ability but to also hopefully help someone else who might be struggling with a problem that I have solved.</p>
      <p>My journey into code has been a long and mostly private struggle.  I am changing that with this blog by sharing my experiences, and showcasing the kinds of technologies that get me excited.  I am a bit of a hybrid, between self taught and college.</p>
      <p>I hope to shine a light of understanding into my topics through practical examples from projects I am working on.</p>
      <h2>Technologies to Expect</h2>
      <ul class="collection">
        <li class="collection-item">The Go Programming Language</li>
        <li class="collection-item">Javascript and precompilers like TypeScript</li>
        <li class="collection-item">Python</li>
        <li class="collection-item">Frameworks like Angular, React, and Flutter</li>
        <li class="collection-item">Full Stack Web Development with and without Cloud Services</li>
        <li class="collection-item">Machine Learning</li>
        <li class="collection-item">Blockchain Technology</li>
      </ul>
    </div>
  </div>
