<footer class="page-footer black">
  <div class="container">
    <div class="row">
      <div class="col l4 s4">

      </div>
      <div class="col l4 s4">
        <h5 class="light-green-text text-accent-3 center">Developed With</h5>
        

      </div>
    </div>
    <div class="row">
        <div class="col l4 s4">
          <p class="grey-text text-lighten-1 left">
            <a href="https://www.angular.io" class="red-text text-darken-2"><i class="fab fa-angular fa-3x right"></i></a>
          </p>
        </div>
        <div class="col l4 s4 center">
          <a href="https://firebase.google.com/"><img height="60" width="120" src="assets/firebase-logo-built_black.svg" alt="Built with Firebase!"></a>
        </div>
        <div class="col l4 s4">
          <a href="https://materializecss.com/"><img class="responsive-img right"  src="assets/m-logo-salmon.png" alt=""></a>
        </div>
      </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2018 Copyright Backslashcode.com
    </div>
  </div>
</footer>