<!--The content below is only a placeholder and can be replaced.-->
<app-nav-bar></app-nav-bar>
<div class="parallax-container">
  <div class="parallax"><img src="https://firebasestorage.googleapis.com/v0/b/backslash-code.appspot.com/o/codeblock.jpg?alt=media&token=2f3f1356-c4b1-4717-8abc-75e2ad7ef183"></div>

</div>
<router-outlet></router-outlet>
<div class="parallax-container">
  <div class="parallax"><img src="https://firebasestorage.googleapis.com/v0/b/backslash-code.appspot.com/o/codeblock.jpg?alt=media&token=2f3f1356-c4b1-4717-8abc-75e2ad7ef183" alt=""></div>
</div>
<app-footer-info></app-footer-info>

